<td>
    {% if true == offer.isDeleted %}
        <small class="label bg-red">Да</small>
    {% else %}
        <small class="label bg-green">Нет</small>
    {% endif %}
</td>
<td>{{ offer.id }}</td>
<td>{{ offer.owner.email }}</td>