{% if is_granted('ROLE_APP_OFFER_CHANGE_ACCESSIBILITY') %}

    {% if available_offers[offer.id] is not defined or available_offers[offer.id] is empty %}
        <a href="{{ path('app_offer_change_accessibility', { id: offer.id, action: 'approve'}) }}" class="btn btn-sm btn-success">
            Показать сотрудникам
        </a>

    {% else %}
        <a href="{{ path('app_offer_change_accessibility', { id: offer.id, action: 'disapprove'}) }}" class="btn btn-sm btn-danger">
            Не показывать сотрудникам
        </a>
    {% endif %}
{% endif %}