{% if is_granted('ROLE_APP_OFFER_CHANGE_ACCESSIBILITY') %}

    {% set accessibiblity = offerManager.getAccessibility(offer, app.user) %}

    {% if accessibiblity is null %}
        <a href="{{ path('app_offer_change_accessibility', { id: offer.id, action: 'approve'}) }}" class="btn btn-sm btn-success">
            Показать сотрудникам
        </a>

    {% else %}
        <a href="{{ path('app_offer_change_accessibility', { id: offer.id, action: 'disapprove'}) }}" class="btn btn-sm btn-danger">
            Не показывать сотрудникам
        </a>
    {% endif %}
{% endif %}