{% extends 'base.html.twig' %}

{% block top_nav_menu_buttons %}
    {#<ul class="nav navbar-nav navbar-right">#}
        {#<li class="dropdown">#}
            {#<a class="" href="{{ path('app_stat_create') }}">#}
                {#<i class="fa fa-plus-circle" aria-hidden="true"></i>#}
                {#Добавить новый#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}

{% block page_content %}

    Здесь будет статистика

{% endblock %}