<html>
    <head>
        <title>Выбор нужного стора</title>
    </head>
    <body>
        <h1>Выбор нужного стора</h1>
        <ul>
            {% for link in offer.getLinks %}
                <li>
                    <a href="{{ absolute_url(path('app_api_offer_referral_link_follow', { 'id': followLink.getId, 'type': link.getType.getValue })) }}">
                        {{ link.getType.getValue }}
                    </a>
                </li>
            {% else %}
                <li>Для выбранного оффера не задано ссылок на приложения :(</li>
            {% endfor %}
        </ul>
    </body>
</html>