<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        <ul class="sidebar-menu tree" data-widget="tree">

        <div class="clearfix"></div>

        {% include 'menu/sidebar.html.twig' %}

        </ul>
    </section>
</aside>