{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_sidebar_search %}{% endblock sonata_sidebar_search %}

{% block side_bar_after_nav_content %}{% endblock side_bar_after_nav_content %}

{% block sonata_top_nav_menu_user_block %}
    <li class="user-menu">
        <a class="dropdown-toggle" href="{{ path('sonata_admin_logout') }}">
            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Выход </i>
        </a>
    </li>
{% endblock sonata_top_nav_menu_user_block %}