{% extends 'base.html.twig' %}

{% block top_nav_menu_buttons %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            {% if is_granted('ROLE_APP_OFFER_CREATE') %}
                <a class="" href="{{ path('app_offer_create') }}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Добавить
                </a>
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block page_content %}

    <form action="#" method="GET">
        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">

                {% if is_granted(['ROLE_ADMIN', 'ROLE_SUPER_ADMIN']) %}
                    {% include 'pages/offer/_admin_list.html.twig' %}

                {% elseif is_granted(['ROLE_OWNER']) %}
                    {% include 'pages/offer/_owner_list.html.twig' %}

                {% elseif is_granted(['ROLE_SELLER', 'ROLE_EMPLOYEE']) %}
                    {% include 'pages/offer/_seller_list.html.twig' %}
                {% endif %}

            </div>
            <div class="box-footer">
                {% include 'pager/default_pager.html.twig' %}
            </div>
        </div>
    </form>

{% endblock %}